---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header class="px-4 bg-white shadow-md sticky top-0 transition-shadow z-40">
	<nav class="flex justify-between items-center">
		<h2 class="text-base flex-1"><a href="/" class="text-black no-underline">{SITE_TITLE}</a></h2>
		<div class="flex-1 flex flex-nowrap justify-center max-sm:justify-end">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/work">Work</HeaderLink>
		</div>
		<div class="flex-1 max-sm:hidden">
			<!-- what to put here? -->
		</div>
	</nav>
</header>
