---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + subpath?.[0];
---

<a href={href} class:list={['py-4 px-2 hover:no-underline inline-block no-underline text-black border-b-4', { 'border-b-purple-500': isActive, 'border-b-transparent': !isActive }]} {...props}>
	<slot />
</a>
<style>
	.active {
		font-weight: bolder;
		text-decoration: underline;
	}
</style>
