---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props
---
<!doctype html>
<html>
    <head>
        <BaseHead title={title} description={description} />
        <slot name="head"/>
    </head>
    <body class="text-stone-900 flex flex-col justify-between h-dvh min-h-dvh">
        <Header/>
        <div class="bg-gradient-to-tr from-stone-50 to-stone-100 py-8 flex-grow z-10">
            <main class="max-w-3xl w-full p-4 md:p-8 mx-auto space-y-4">
                <slot/>
            </main>
        </div>
        <Footer/>
    </body>
</html>
